# FOR R
#Firstly, we should download the packet.
install.packages("aplpack")
library(aplpack)

#The next step is to define our package consisting solely of numerical data.
veri=readxl::read_excel("C:/Users/ilayd/OneDrive/Masaüstü/CDIA4.xlsx")

chernoff=veri[1:45,]
faces(chernoff[,1:8])
